.signInWrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(148deg, #fff, #255bd4) !important;


    .loginCard {
        display: flex;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: 100%;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        min-width: 400px;
        max-width: 400px;

        .ant-card-body {
            width: 100%;

            .logoWrapper {
                .ant-image {
                    max-height: 15vh;
                    overflow: hidden;
                    max-width: 100%;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;
                        object-fit: contain;
                        max-width: 100%;
                        max-height: 15vh;
                    }
                }
            }

            .formWrapper {
                width: 100%;

                .formItemWrapper {
                    margin: 1.5rem 0;

                    input {
                        // // background: transparent !important;
                        // border: none;
                        // border-bottom: 1px solid white;
                        // border-radius: 0;

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }

                .submitButtonSection {
                    width: 100%;

                    .ant-form-item-control-input-content {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .exitingAccount {
                text-align: center;
            }
        }

    }
}